/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  margin: 0;
}

label {
  font-weight: bold;
}

@media(min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.col-valor-header {
  width: 120px;
}

.col-data-header {
  width: 120px;
}

.col-valor-body {
  text-align: right;
}
.col-data-body {
  width: 120px;
  text-align: center;
}

.col-acoes-header {
  width: 100px;
}

.col-acoes-body {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
