<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" id="nome">
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input pInputText type="text" id="logradouro">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Número</label>
        <input pInputText type="text" id="numero">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento">Complemento</label>
        <input pInputText type="text" id="complemento">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro">Bairro</label>
        <input pInputText type="text" id="bairro">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep">CEP</label>
        <p-inputMask mask="99999-999" id="cep"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade">Cidade</label>
        <input pInputText type="text" id="cidade">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado">Estado</label>
        <input pInputText type="text" id="estado">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
